@media (max-width: 960px) {
}

.graph-containers {
  margin-top: -50px !important;
  position: relative;
  z-index: 200;
}

.home-container {
  padding-left: 66px;
  padding-bottom: 33px;
  display: flex;
  justify-content: space-between;
  margin-top: -270px !important;
  position: relative;
  z-index: -2;
}

.h1 {
  color: #073e7d;
  font-size: 50px;
  padding: 0 !important;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

.home-list-buss-item {
  margin-top: 50px;
}

.ui-item-container {
  list-style: none;
}

.li-item-list {
  margin: 10px 0 15px 25px;
  font-size: 22px;
  cursor: pointer;
  z-index: 100;
}

.home-sea-container {
  max-width: 100%;
}

#video-1 {
  width: 150px;
  min-width: 60vw;
  height: 100%;
  border-radius: 100% 50% 0% 50%/100% 0% 100% 100%;
  align-items: flex-end;
  // margin: 0 0 0 20px;
  z-index: -999;
}

.news-containers {
  padding-left: 66px;
  padding-bottom: 33px;
  display: flex;
  justify-content: space-around;
}

.news-h1 {
  font-size: 35px;
  color: #073e7d;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

.news-flex-01 {
  max-width: 80vw;
}

.news-ui-item {
  list-style: none;
  padding-left: 35px;
}

.news-li-list {
  font-size: 20px;
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: center;
  border-radius: 20px;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.5s;
}

.news-li-list:hover {
  font-size: 20px;
  background-color: #3097e2;
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: center;
  border-radius: 20px;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #ffffff;
  font-weight: 600;
}

.news-li-list:active {
  font-size: 20px;
  background-color: #3097e2;
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: center;
  border-radius: 20px;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #ffffff;
  font-weight: 600;
  transition: opacity 1s;
}

// .box-shadow{
//     box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
// }

.news-flex-02 {
  display: flex;
  margin-left: 50px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  opacity: 1;
  max-width: 60vw;
}

.news-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.news-card-item {
  max-width: 270px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
  opacity: 1;
}

.card-img {
  max-width: 290px;
  border-radius: 10px;
  position: relative;
  margin-left: -10px;
  margin-top: -10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.card-img:hover {
  max-width: 300px;
  border-radius: 10px;
  position: relative;
  margin-left: -15px;
  margin-top: -10px;
  margin-bottom: 20px;
  align-items: center;
  opacity: 0.8;
}

.card-img:active {
  max-width: 300px;
  border-radius: 10px;
  position: relative;
  margin-left: -15px;
  margin-top: -10px;
  margin-bottom: 20px;
  cursor: pointer;
  opacity: 0.8;
  align-items: center;
}

.fade-in {
  animation: fadeIn 0.4s;
}

.fade-out {
  animation: fadeOut 0.4s;
}

.fade-in-img {
  animation: fadeInImg 3s;
}

.fade-out-img {
  animation: fadeOutImg 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    max-width: 200px;
    height: 100px;
  }
  to {
    opacity: 1;
    max-width: 220px;
    height: fit-content;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.news-card-label {
  padding-top: 20px !important;
  font-size: 14px;
}

.read-more-container {
  float: right;
  text-align: right;
  width: 100%;
  margin-right: 20px;
  position: relative;
  margin-top: -20px;
  cursor: pointer;
  color: #073e7d;
}

.read-more-container:hover {
  float: right;
  text-align: right;
  width: 100%;
  margin-right: 20px;
  position: relative;
  margin-top: -20px;
  margin-bottom: 20px;
  cursor: pointer;
  color: #073e7d;
  text-decoration: underline;
}

// #007aff

.radius-container-1 {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  background-color: #fefefe;
  cursor: pointer;
  position: relative;
  margin-left: -1000px;
  animation: circle1 0.8s;
  transition: all 1s;
  > .detail-in-radius {
    position: relative;
    top: 20%;
    left: 10%;
    z-index: 200;
    max-width: 300px;
    max-height: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.radius-container-1:hover {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.5);
  opacity: 1;
  background-color: #fefefe;
  cursor: pointer;
  position: relative;
  margin-left: -1000px;
  animation: circle1 0.8s;
  transform: rotate(360deg);
  // transform: rotate(360deg);
  > .detail-in-radius {
    position: relative;
    z-index: 200;
    max-width: 320px;
    max-height: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes circle1 {
  0% {
    width: 0;
    height: 0;
    transform: rotate(20deg);
  }
  // 50% {
  //   width: 200px;
  //   height: 200px;
  // }
  70% {
    width: 300px;
    height: 300px;
    transform: rotate(150deg);
  }
  100% {
    width: 400px;
    height: 400px;
    transform: rotate(360deg);
  }
}

.radius-container-2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.5);
  opacity: 1;
  background-color: #232169;
  margin-top: 270px;
  margin-left: -50px;
  animation: circle1 0.8s;
  transition: all 1s;
  > .detail-in-radius {
    position: relative;
    top: 20%;
    left: 10%;
    z-index: 200;
    max-width: 280px;
    max-height: 280px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.radius-container-2:hover {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.5);
  opacity: 1;
  background-color: #232169;
  margin-top: 270px;
  margin-left: -50px;
  animation: circle1 0.8s;
  transition: all 1s;
  transform: rotate(360deg);
  > .detail-in-radius {
    position: relative;
    top: 20%;
    left: 10%;
    z-index: 200;
    max-width: 300px;
    max-height: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.radius-container-3 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  transition: all 1s;
  cursor: pointer;
  margin-left: -50px;
  transition: all 1s;
  > .detail-in-radius {
    position: relative;
    top: 20%;
    left: 10%;
    z-index: 200;
    max-width: 180px;
    max-height: 180px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.radius-container-3:hover {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  transition: all 1s;
  cursor: pointer;
  margin-left: -50px;
  transition: all 1s;
  transform: rotate(360deg);
}

// .radius-container-3:hover{
//   width: 400px;
//   height: 400px;
//   border-radius: 50%;
//   box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.5);
//   position: absolute;
//   z-index: 999;
//   opacity: 0.5;
//   background-color: #c52b30;
//   margin-top:320px;
//   margin-left: 570px;
// }

.home-animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home2-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -150px;
  padding: 0 0 0 180px;
}

.ui-item-cpontainer2 {
  list-style: none;
  margin-bottom: 50px;
}

.ui-item-cpontainer2,
.li-item {
  margin-top: 20px;
  font-size: 25px;
  cursor: pointer;
  transition: width 1s;
  width: 100%;
}

.li-item:hover {
  border-bottom: 2px solid #073e7d;
  width: 800px;
}

.underline {
  border-bottom: 2px solid #073e7d;
  animation: underline 1s;
  width: 100%;
  opacity: 0;
}

@keyframes underline {
  0% {
    width: 0px;
    opacity: 1;
  }
  50% {
    width: 70px;
    opacity: 1;
  }
  100% {
    width: 500px;
    opacity: 0;
  }
}

.graph-header{
  font-size: 22px;
  position: relative;
  font-weight: 600;
  color: #073e7d;
}

.mt-50{
  top:50px;
  left: 20%;
}

.mt-50-1{
  top:0px;
  left: 20%;
}