@import "./screen.scss";

@media (max-width: 960px) {
  .branner-flex-container {
    padding-top: 120px;
    padding-bottom: 50px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .graph-detail-container {
    display: flex;
    align-items: flex-end !important;
    justify-content: flex-start;
    height: 10vh;
    margin-top: 17px;
    cursor: pointer;
    flex-direction: column;
    transition: height 1s !important;
    width: 100%;
  }
  .graph-detail-list:hover {
    height: 14vh;
    background: rgba(33, 47, 61, 0.5);
    align-items: flex-end;
    text-align: center;
    padding-top: 20px;
    font-size: 14px !important;
    width: 100% !important;
    > .stocking-container {
      background-color: #247cb3;
      padding-top: 15px;
      padding-bottom: 8px;
      font-size: 14px !important;
      width: 100% !important;
      color: #ffffff;
    }
    > .finace-container {
      background-color: #373485;
      padding-top: 15px;
      padding-bottom: 8px;
      font-size: 14px !important;
      height: 200px;
      color: #ffffff;
    }
    > .fuel-container {
      background-color: #c52b30;
      padding-top: 15px;
      padding-bottom: 8px;
      font-size: 14px !important;
      height: 200px;
      color: #ffffff;
    }
    > .news-container {
      background: #e6e6e7;
      padding-top: 15px;
      padding-bottom: 8px;
      font-size: 14px !important;
      height: 200px;
      color: #333333;
    }
    > .gold-container {
      background-color: #f1c40f;
      padding-top: 15px;
      padding-bottom: 8px;
      font-size: 14px !important;
      height: 200px;
      color: #ffffff;
    }
  }

  .stocking-container {
    background-color: #247cb3;
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 12px !important;
  }
  .finace-container {
    background-color: #373485;
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 12px !important;
  }

  .fuel-container {
    background-color: #c52b30;
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 12px !important;
  }

  .gold-container {
    background-color: #f1c40f;
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 12px !important;
  }

  .news-container {
    background: #e6e6e7;
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 12px !important;
    color: #333333;
  }
  .graph-detail-list {
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    transition: height 0.7s !important;
    height: 40px;
    height: fit-content !important;
    background: rgba(33, 47, 61, 0.6);
    width: 100% !important;
    text-align: center;
    padding-top: 20px;
    font-size: 14px !important;
    margin-bottom: 14px;
  }
  .img-style {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100px;
    height: 100px !important;
  }

  .branner-flex-container {
    align-items: center;
    justify-content: center;
    display: flex;
    display: none;
  }

  .branner-flex-container-mobile {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 200px;
  }

  .swiper-container-mobile {
    width: 200% !important;
  }

  .swiper-container {
    margin-left: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    margin-right: 50px;
  }

  .graph-detail-list:hover {
    height: 14vh;
    background: rgba(33, 47, 61, 0.5);
    align-items: flex-end;
    width: 20%;
    text-align: center;
    padding-top: 20px;
    color: #f4d03f;
    word-wrap: break-word;
  }
  .nav-lang-container {
    padding: 15px;
    align-items: center;
    background-color: #247cb3;
    flex-wrap: wrap;
    z-index: 0;
    display: none !important;
  }
  .nav-lang-flex-02 {
    flex: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .nav-lang-flex-01 {
    display: none;
  }

  .flag-container {
    width: 35px;
    height: 20px;
    margin-right: 10px;
  }

  .flex-column {
    width: 100%;
    padding: 10px 0 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(7, 53, 65, 0.3);
    margin: 12px;
    color: white;
    font-weight: 600;
  }

  .flex-column:hover {
  }

  .flex-column::before {
    content: "\a";
    white-space: pre;
  }

  .nav_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 88px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav_menu.active {
    background-color: rgba(143, 136, 136, 0.4);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav_menu_links {
    padding: 2rem !important;
    display: table;
    font-size: 18px;
  }

  .nav_menu_links:hover {
    color: #ffffff;
  }
  .brandner-container {
    position: relative;
    background-color: #33a0d1;
    min-height: 100vh !important;
    transform: translate(0%, -20%) !important;
  }
}

.nav-lang-container {
  padding: 5px 10px 5px 10px;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #247cb3 0%, #247cb3 80%, #d1d407 100%);
  flex-wrap: wrap;
  z-index: 0;
}

.text-size-label {
  font-weight: 500;
  margin-right: 15px;
  color: #ffffff;
}

.nav-lang-flex-01 {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-lang-flex-02 {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-lang-text {
  color: white;
  margin: 0 10px 0 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  z-index: 1;
  transition: 0.4s;
  float: right;
}
.nav-lang-text:hover {
  text-decoration: underline;
  font-size: 18px;
}
.flag-container {
  width: 35px;
  height: 20px;
  margin-right: 12px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: 0.2s width;
}
.flag-container:hover {
  text-decoration: underline;
  width: 38px;
  height: 24px;
}
.hide {
  display: none;
}

nav {
  background: rgba(0, 0, 0, 0.8);
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 15px 12px 13px 12px;
  justify-content: space-between;
  z-index: 10;
  position: relative;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
}

.nav-logo {
  transition: 3s width;
  cursor: pointer;
  @include tablet {
    width: 100px;
    height: 53px;
  }
}

.nav-logo:hover {
  opacity: 0.4;
}

.nav_bar {
  opacity: 0;
  @include tablet {
    opacity: 1;
    color: dark;
    position: absolute;
    text-align: right;
    top: 22px;
    right: 22px;
    font-size: 2rem;
    cursor: pointer;
  }
}

.nav_menu_links {
  color: white;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  font-weight: 600;
  transition: 0.5;
}

.nav_menu_links:hover {
  color: #247cb3;
  //   text-shadow: 1px 2px #858585;
}

.custom-shape-divider-bottom-1618752062 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1618752062 svg {
  position: relative;
  display: block;
  width: calc(217% + 1.3px);
  height: 236px;
}

.custom-shape-divider-bottom-1618752062 .shape-fill {
  fill: #ffffff;
}

.brandner-container {
  position: relative;
  min-height: 100vh !important;
  transform: translate(0%, -16%);
}

.graph-bar-container {
  position: relative;
  top: -30vh;
  transition: width 2s;
}

.graph-detail-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 10vh;
  margin-top: 17px;
  cursor: pointer;
}

.graph-detail-list {
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  transition: height 1s ease !important;
  height: 40px;
  background: rgba(33, 47, 61, 0.6);
  width: 20%;
  text-align: center;
  padding-top: 20px;
  font-size: 19px;
  margin-bottom: 14px;
}

.graph-detail-list:hover {
  height: 14vh;
  background: rgba(33, 47, 61, 0.5);
  align-items: flex-end;
  width: 20%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  > .stocking-container {
    background-color: #247cb3;
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 18px;
    height: 140px;
  }
  > .finace-container {
    background-color: #373485;
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 18px;
    height: 140px;
  }
  > .fuel-container {
    background-color: #c52b30;
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 18px;
    height: 140px;
  }
  > .news-container {
    background: #e6e6e7;
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 18px;
    height: 140px;
    color: #333333;
  }
  > .gold-container {
    background-color: #f1c40f;
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 18px;
    height: 140px;
  }
}

.stocking-container {
  background-color: #247cb3;
  padding-top: 15px;
  padding-bottom: 8px;
  font-size: 18px;
  transition: height 1s ease !important;
  height: 27px;
}
.finace-container {
  background-color: #373485;
  padding-top: 15px;
  padding-bottom: 8px;
  font-size: 18px;
  transition: height 1s ease !important;
  height: 27px;
}

.fuel-container {
  background-color: #c52b30;
  padding-top: 15px;
  padding-bottom: 8px;
  font-size: 18px;
  transition: height 1s ease !important;
  height: 27px;
}

.gold-container {
  background-color: #f1c40f;
  padding-top: 15px;
  padding-bottom: 8px;
  font-size: 18px;
  transition: height 1s ease !important;
  height: 27px;
}

.news-container {
  background: #e6e6e7;
  padding-top: 15px;
  padding-bottom: 8px;
  font-size: 18px;
  color: #333333;
  transition: height 1s ease !important;
  height: 27px;
}

// #F1C40F

.swiper-slide {
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 90% !important;
}

.swiper-container {
  margin-left: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin-right: 50px;
  float: right;
  max-width: 70%;
  height: 100%;
  justify-content: center;
}

.branner-flex-container {
  padding-top: 220px;
  padding-bottom: 50px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
}

.branner-flex-01 {
  padding-left: 30px;
  font-size: 30px;
  position: relative;
  margin-right: -300px;
  text-align: left;
  color: #ffffff;
  padding-top: 3rem;
}

.branner-flex-01 {
  display: inline-block;
}

.branner-flex-02 {
  max-width: 80%;
}

.img-style {
  -webkit-box-shadow: 0px 0px 4px 0px #333333;
  height: 390px !important;
  width: 650px !important;
  border-radius: 20px;
}

.custom-shape-divider-bottom-1619018505 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1619018505 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 188px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1619018505 .shape-fill {
  fill: #FFFFFF;
}


#video-background {
  position: relative;
  min-height: 105vh;
  width: 100%;
  object-fit: cover;
  // pointer-events: none;
  z-index: -900;
  cursor: pointer;
  height: 80px !important;
  
}


.animation-text-branner{
  position: absolute;
  z-index: -2;
  background-color: rgba(0, 0, 0, 0.19);
  min-height: 105vh;
  width: 100%;
  color: #ffffff;
}

.card-animation{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.curve-postion{
  z-index: 0;
  position: relative;
  margin-bottom: -20px;
}