.buss-rout-container-name {
  max-width: fit-content;
  display: flex;
  justify-content: flex-start;
  padding-left: 250px;
  position: relative;
  margin-top: -150px;
  color: #073e7d;
  font-weight: 600;
  font-size: 25px;
  opacity: 1;
  margin-bottom: 100px;
  // animation: textanimation 5s;
}

.border-under-head {
  animation: underanimation 2s;
  position: relative;
  margin-top: -20px;
  border: none;
}

h1 {
  margin: 0;
}
// .border-under-head {
//     //   border-bottom: 2px solid #073e7d;
//       max-width: 100%;
//       text-align: right;

//     }

@keyframes underanimation {
  0% {
    max-width: 0%;
    opacity: 1;
    border-bottom: 2px solid #073e7d;
  }
  25% {
    max-width: 25%;
    opacity: 1;
    border-bottom: 2px solid #073e7d;
  }
  50% {
    max-width: 50%;
    opacity: 1;
    border-bottom: 2px solid #073e7d;
  }
  75% {
    max-width: 75%;
    opacity: 1;
    border-bottom: 2px solid #073e7d;
  }
  100% {
    max-width: 100%;
    opacity: 1;
    border-bottom: 2px solid #073e7d;
  }
}

@keyframes textanimation {
  0% {
    max-width: 0%;
    opacity: 1;
  }
  25% {
    max-width: 25%;
    opacity: 1;
  }
  50% {
    max-width: 50%;
    opacity: 1;
  }
  75% {
    max-width: 75%;
    opacity: 1;
  }
  100% {
    max-width: 100%;
    opacity: 1;
  }
}

.bussiness-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 60px;
  position: relative;
  margin-top: -50px;
  max-width: 100%;
}

.buss-item1 {
  width: 30%;
  height: 100%;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s;
  padding-bottom: 20px;
}

.buss-item1:hover {
  width: 33%;
  height: 100%;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s;
}

.buss-item-label-1 {
  font-size: 20px;
  color: #073e7d;
  font-weight: 600;
}

.buss-item-label-2 {
  color: #353a41;
  font-size: 14px;
}

.buss-item-1-header {
  display: flex;
  justify-content: space-between;
  padding: 40px 10px 0 30px;
  align-items: center;
}

.buss-item2 {
  width: 40%;
  min-height: 40vh;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.5);
  padding: 0px 0px;
  overflow: hidden;
  border-radius: 25px;
}

.buss-item2 .tab-header {
  display: flex;
  align-items: center;
  height: 60px;
}

.buss-item2 .tab-header > div {
  width: calc(100% / 3);
  text-align: center;
  color: #3097e2;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  outline: none;
  display: block;
  height: 50px;
  padding-top: 15px;
}

.buss-item2 .tab-header > div:hover {
  width: calc(100% / 3);
  text-align: center;
  background-color: rgba(#3097e2, 0.3);
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  outline: none;
  display: block;
  height: 50px;
}

.buss-item2 .tab-header > div.active {
  color: #ffffff;
  background-color: #3097e2;
  height: 50px;
}

.buss-item2 .tab-indecator {
  position: relative;
  width: calc(100% / 3);
  height: 5px;
  background-color: #3097e2;
  left: 0px;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}

.buss-item2 .tab-body {
  position: relative;
  height: calc(100% - 60px);
  padding: 10px 5px;
}

.buss-item2 .tab-body > div {
  position: absolute;
  top: -500px;
  opacity: 0;
  margin-top: 5px;
  transform: scale(0.9);
  transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
}

.buss-item2 .tab-body > div.active {
  opacity: 1;
  top: 0;
  transform: scale(1);
  margin-top: 0px;
}

@media screen and (max-width: 960px) {
  .tab1-container {
    min-width: 90vw !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bussiness-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
  }

  .buss-item1 {
    width: 100%;
    height: 200px;
    box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin-bottom: 50px;
  }

  .buss-item2 {
    width: 100%;
    height: 200px;
    box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
  }

  .buss-rout-container-name {
    max-width: fit-content;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px !important;
    position: relative;
    margin-top: -150px;
    color: #073e7d;
    font-weight: 600;
    font-size: 25px;
    opacity: 1;
    margin-bottom: 100px;
    // animation: textanimation 5s;
  }

  .border-under-head {
    animation: underanimation 2s;
    position: relative;
    margin-top: -20px;
    border: none;
  }

  h1 {
    margin: 0;
  }
  // .border-under-head {
  //     //   border-bottom: 2px solid #073e7d;
  //       max-width: 100%;
  //       text-align: right;

  //     }

  @keyframes underanimation {
    0% {
      max-width: 0%;
      opacity: 1;
      border-bottom: 2px solid #073e7d;
    }
    // 25% {
    //   max-width: 25%;
    //   opacity: 1;
    //   border-bottom: 2px solid #073e7d;
    // }
    // 50% {
    //   max-width: 50%;
    //   opacity: 1;
    //   border-bottom: 2px solid #073e7d;
    // }
    75% {
      max-width: 75%;
      opacity: 0;
      border-bottom: 2px solid #073e7d;
    }
    100% {
      max-width: 100%;
      opacity: 1;
      border-bottom: 2px solid #073e7d;
    }
  }
}

h2 {
  margin: 0;
}

.top-buss-container {
  max-width: fit-content;
  display: flex;
  justify-content: flex-start;
  padding-left: 250px;
  position: relative;
  color: #073e7d;
  font-size: 20px;
  opacity: 1;
  margin-bottom: 100px;
}

.buss-item-body-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.img-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: -7px 5px 4px rgba(0, 0, 0, 0.5);
  background-color: #353a41;
  transition: all 0.5s;
  opacity: 0.5;
}

.img-circle:hover {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  box-shadow: -10px 5px 4px rgba(0, 0, 0, 0.5);
  background-color: #353a41;
}

.lines {
  border-left: 1.7px solid #3097e2;
  height: 100px;
}

.footer-buss-container {
  padding: 30px 0 0 30px;
  font-size: 14px;
  color: #353a41;
}

.diff-container {
  width: fit-content;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.img-bottom {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
  color: #333333;
}

.tab1-container {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 0 20px;
  > .tab1-header1 > h5 {
    font-size: 30px;
    margin: 0;
    color: #073e7d;
    font-weight: 600;
    font-size: 22px;
  }

  > .tab1-header2 {
    color: #353a41;
  }
}

.tab1-body-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 100px;
  
}

.tab1-table-container {
  width: 80%;
}


.tab1-graph-container {
  max-width: 50%;
  margin-left: 150px;
}

table{
  width: 100%;
  border: none;
}

td{
  justify-content: space-between;
  padding-left: 18px;
  padding-top: 15px;
  padding-bottom: 5px;
}

#tr-style{
  cursor: pointer;
}

#tr-style:hover{
  background-color: rgba($color: #3097e2, $alpha: 0.4);
  color: #ffffff;
  border-radius: 10px;
}

#item-1{
text-align: left;
font-weight: 700;
font-size: 17px;
color: #073e7d;
}

#item-2{
  text-align: right;
  font-weight: 700;
 color: #3097e2;
}
