.bg-top {
  position: relative;
  max-width: 100%;
  margin-top: -100px;
}

.about-container {
  padding: 0 100px 0 100px;
}

.detail-container {
  max-width: 500px;
  word-wrap: break-word;
  margin-top: 20px;
}

.about-header-container {
  margin: 0 0 7px 0;
}

.border-bottom-width {
  border-bottom: 5px solid #2f96e2;
  max-width: 100px;
  position: relative;
  margin-bottom: 10px;
}

.circle-container {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
}

.circle-container-under {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
  margin-left: -80px;
  margin-top: -50px;
}

.about-container {
  display: flex;
  justify-content: space-around;
}

.about-container-flex-02 {
  display: flex;
}

.about-text-container {
  color: #1f1068;
}

.section2-container {
  display: flex;
  justify-content: space-around;
  padding: 0 100px 0 150px;
}

.border-detail {
  border:none;
  margin-top: 50px;
}

.space-1 {
  max-width: 700px;
  word-wrap: break-word;
}

.space-2 {
  max-width: 700px;
  word-wrap: break-word;
}


.header-details{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 600;
}

.green{
    color: rgba(39,192,88,255);
}

.blue{
    color: #00b9ee;
}

.hard-blue{
    color: #1073bc;
}

.yellow{
    color: #ffc301;
}

.orange{
    color: #ffb353

}

.red{
    color: #ff3041;
}

.body-detail{
    color: #1f1068;
}

.border-img{
    width: 100px;
    height: 100px;
    position: relative;
}

