
  header {
    position: fixed;
    left: 273px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    background: #fff;
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
  }
  
  .search-wrapper {
    display: flex;
    align-items: center;
  }
  
  .search-wrapper input {
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 38px;
  }
  
  .search-wrapper input:focus {
    border-color: white !important;
    box-shadow: 0 white !important;
    border: 0;
    outline: 0;
  }
  
  .social-icons{
      display: flex;
      align-items: center;
      margin-right: 50px;
  }
  
  .social-icons span,
  .social-icons div{
      margin-right: 1rem;
      cursor: pointer;
  }
  
  .social-icons div{
      height: 40px;
      width: 40px;
      background-size: cover;
      background-repeat: no-repeat;
      
  }
  
  
  
  .dash-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 5rem;
    margin-top: 20px;
    
  }
  
  .card-single{
    background-color: #ffffff;
    border-radius: 7px;
    margin-bottom: 1.8rem;
    box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
    cursor: pointer;
    transition: all 0.8s ease-in-out;
  }

  

  .card-body{
      padding: 1.3rem 1rem;
      display: flex;
      align-items: center;
  }

  .card-body span {
      padding-right: 1rem;
      font-size: 1.5rem;
      color: #777;
  }

  .card-body h5{
      color: var(--text-grey);
      font-size: 1rem;
  }

  .card-body h4{
      color: var(--color-dark);
  }

  .card-footer{
      padding: .2rem 1rem;
      background: #f9fafc;
  }

  .card-footer a{
      color:var(--main-color);
  }