@font-face {
  font-family: "promtback";
  src: url("./Assets/Prompt-Light.ttf");
}

* {
  font-family: promtback;
}

.social-bar-container {
  top: 55%;
  position: fixed;
  z-index: 888;
}

.ui-container {
  list-style: none;
}

.social-item-1 {
  padding: 20px;
  background-color: rgba(36, 36, 36, 0.5);
  color: #ffffff;
  cursor: pointer;
  transition: width 1s !important;
  width: 20px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  
  > .social-text {
    opacity: 0;
  }
}
.social-item-1:hover {
  width: 100px;
  text-align: right;
  font: 20px;
  cursor: pointer;
  > .social-text {
    opacity: 1;
    margin-right: 5px;
    font-weight: 600;
    color: #ffb900;
    cursor: pointer;
  }
}
